/*========= Commons =========*/
body {
  margin: 0;
  color: white;
  background-color: #1d244d;
}

body,
input {
  font-family: Montserrat, sans-serif;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  padding: 0 15px;
}

.container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 860px;
  background: url(/assets/images/backgrounds/landing-page.png) bottom;
  background-size: cover;
  z-index: -1;
}

.main-title {
  text-align: center;
  margin-top: 30px;
}

.main-content {
  width: 525px;
  max-width: 100%;
  padding-top: 30px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 42px 154px 0 rgba(1, 1, 1, 0.16);
  background-image: linear-gradient(180deg, #43508e, #313b6e);
}
/*========= End Commons =========*/

/*========= Tab =========*/
.tab-container {
  text-align: center;
}

.tab {
  display: inline-block;
  border-radius: 20px;
  box-shadow: inset 0 1px 4px 0 rgba(21, 40, 60, 0.08);
  background-color: #3a447a;
  position: relative;
}

.tab__item {
  width: 125px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #181f46;
  padding: 9px 10px;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.3s ease-out;
}

.tab__item--active {
  color: #3a447a;
  cursor: auto;
  pointer-events: none;
  background-color: #9ea7d0;
}
/*========= End Tab =========*/

/*========= Button =========*/
.button {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  border-radius: 30px;
  display: block;
  margin: 50px auto 0;
  padding: 16px 10px;
  width: 245px;
  text-align: center;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.16);
  background: linear-gradient(180deg, #36cef9, #279df4) 0 100%;
  background-size: auto 150%;
  cursor: pointer;
  transition: all 0.3s;
  border: 0;
  outline: none;
}

.button:hover {
  background-position: 0 0;
}

.button:active {
  transform: translateY(2px);
}
/*========= End Button =========*/

/*========= Dropdown =========*/
.dropdown {
}

.dropdown--active {
}

.dropdown--active .dropdown__content--src {
  display: block;
}

.dropdown--active .dropdown__content--dest {
  display: block;
}

.dropdown--active .dropdown__triangle {
  transform: rotate(-180deg);
}

.dropdown__trigger {
  position: relative;
  cursor: pointer;
  padding-right: 15px;
}

.dropdown__triangle {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #caccd9;
  transition: all 0.3s;
}

.dropdown__content--src,
.dropdown__content--dest {
  display: none;
  position: absolute;
  background: white;
  color: #333;
  padding: 10px 25px;
  border-radius: 3px;
  margin-top: 7px;
  font-size: 14px;
  font-weight: 500;
}

.dropdown__item--src,
.dropdown__item--dest {
  margin-bottom: 6px;
  cursor: pointer;
  transition: all 0.3s;
}

.dropdown__item--src:hover,
.dropdown__item--dest:hover {
  color: #3dbeff;
}

.dropdown__item--src:last-child,
.dropdown__item--dest:last-child {
  margin-bottom: 0;
}
/*========= End Dropdown =========*/

/*========= Modal =========*/
.modal {
  display: none;
}

.modal--active {
  top: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
}

.modal__content {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  background: white;
  color: #333;
  text-align: center;
  width: 600px;
  max-width: 100%;
  /* padding: 20px 50px; */
  padding-top: 15px;
  padding-bottom: 20px;
  border-radius: 20px;
}

.modal__title {
  color: #4a5675;
  font-size: 1rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.exchange-banner {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
}

.token {
  color: #252e45;
  font-size: 18px;
  font-weight: 500;
}

.info-banner {
  text-align: left;
  padding-left: 64px;
  padding-top: 20px;
}

.rate {
  color: #4a5675;
  font-size: 14px;
  font-weight: 500;
}

.gas-fee {
  color: #7a82a9;
  font-size: 14px;
  font-weight: 500;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.button-cancel {
  max-width: 160px;
  border-radius: 27px;
  border: 1px solid #dedede;
  background: #fff;
  font-size: 14px;
  font-weight: 500;
  color: #80849c;
}

.button-confirm {
  max-width: 160px;
}

/*========= End Modal =========*/

/*========= Input =========*/
.input-container {
}

.input-container--mt {
  margin-top: 50px;
}

.input-title {
  display: block;
  margin-bottom: 10px;
}

.input-group {
  display: flex;
  position: relative;
  background-color: #29315b;
}

.input-group .dropdown {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.input-item,
.input-placeholder {
  width: 100%;
  padding: 20px 20px 20px 100px;
  text-align: right;
  font-size: 24px;
  font-weight: 500;
  color: #caccd9;
}

.input-item {
  background: transparent;
  border: none;
  outline: none;
}

.input-item--single {
  padding-left: 20px;
}

.input-placeholder {
}
/*========= End Input =========*/

/*========= Import Account =========*/
.import-account {
  margin-top: 45px;
  padding: 20px 25px;
  background-color: rgba(26, 32, 64, 0.1);
}

.import-account__title {
  text-align: center;
  margin-bottom: 20px;
}

.import-account__container {
  display: flex;
  justify-content: space-between;
}

.import-account__item {
  width: 32%;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #caccd9;
  margin-bottom: 15px;
  padding: 10px 0;
  border-radius: 22px;
  box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.04);
  background-color: #29315d;
  cursor: pointer;
  transition: all 0.3s;
}

.import-account__item--inactive {
  opacity: 0.5;
  cursor: auto;
  pointer-events: none;
}

.import-account__icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.import-account__icon.metamask {
  background-image: url(/assets/images/logos/metamask.svg);
}

.import-account__icon.keystore {
  background-image: url(/assets/images/logos/keystore.svg);
}

.import-account__icon.private-key {
  background-image: url(/assets/images/logos/private-key.svg);
}

.import-account__name {
}

.import-account__item:hover {
  background-color: #9ea7d0;
  color: #323c70;
}

.import-account__item:hover .import-account__icon.metamask {
  background-image: url(/assets/images/logos/metamask-active.svg);
}

.import-account__item:hover .import-account__icon.keystore {
  background-image: url(/assets/images/logos/keystore-active.svg);
}

.import-account__item:hover .import-account__icon.private-key {
  background-image: url(/assets/images/logos/private-key-active.svg);
}
/*========= End Import Account =========*/

/*========= Swap =========*/
.swap {
  display: none;
  padding: 40px 50px 0;
}

.swap.active {
  display: block;
}

.swap__icon {
  width: 32px;
  height: 32px;
  margin: 30px auto;
  background-image: url(/assets/images/icons/swap.svg);
  cursor: pointer;
  transition: all 0.3s;
}

.swap__icon:active {
  transform: translateY(2px);
}

.swap__rate {
  margin-top: 15px;
}
/*========= End Swap =========*/

/*========= Transfer =========*/
.transfer {
  display: none;
  padding: 40px 50px 0;
}

.transfer.active {
  display: block;
}
/*========= End Transfer =========*/
